## Data Inspection and Cleaning for Train and Test Datasets

In this section the train and test datasets are inspected and cleaned. They are then merged and saved for further exploratory data analysis (EDA) and modelling.

In [1]:
# Import libraries

import numpy as np 
import pandas as pd 
import time
import requests
import random
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'retina'


# This library is to allow file handling between mac and win without errors

from pathlib import Path

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

/Users/Dickson/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Import datasets

data_folder = Path("data/")
df_train= pd.read_csv(data_folder / "train.csv")
df_test= pd.read_csv(data_folder / "test.csv")
df_weather = pd.read_csv(data_folder / "weather.csv")
df_spray =pd.read_csv(data_folder / "spray.csv")

In [3]:
# Inspect the datasets

df_train.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [4]:
# Change the column titles to lower case.
# Compare column names to see which are common and which are not. 

df_train.columns = map(str.lower, df_train.columns)
df_test.columns = map(str.lower, df_test.columns)

print(df_train.columns.intersection(df_test.columns))
print("----------------------------------------")
print(df_train.columns.difference(df_test.columns))

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy'],
      dtype='object')
----------------------------------------
Index(['nummosquitos', 'wnvpresent'], dtype='object')

In [5]:
# wnvpresent is the key class we are interested in.

# The class is imbalanced.

df_train['wnvpresent'].value_counts()

0    9955
1     551
Name: wnvpresent, dtype: int64

In [6]:
# Check the number of columns and rows

df_test.shape

(116293, 11)

In [7]:
# Merge the train and test datasets

df_full = pd.concat([df_train, df_test])

In [8]:
# Check for missing values in the merged dataset

missing_stats = []

for col in df_full.columns:
    missing_stats.append((col, df_full[col].nunique(), df_full[col].isnull().sum() * 100 / df_full.shape[0], df_full[col].value_counts(normalize=True, dropna=False).values[0] * 100, df_full[col].dtype))
    
stats_df = pd.DataFrame(missing_stats, columns=['Feature', 'Unique_values', 'Percentage of missing values', 'Percentage of values in the biggest category', 'type'])
stats_df.sort_values('Percentage of missing values', ascending=False)

,Feature,Unique_values,Percentage of missing values,Percentage of values in the biggest category,type
10,nummosquitos,50,91.714446,91.714446,float64
11,wnvpresent,2,91.714446,91.714446,float64
12,id,116293,8.285554,8.285554,float64
0,date,190,0.000000,1.019724,object
1,address,151,0.000000,1.749225,object
2,species,8,0.000000,15.860535,object
3,block,65,0.000000,7.970094,int64
4,street,139,0.000000,1.749225,object
5,trap,149,0.000000,1.749225,object
6,addressnumberandstreet,151,0.000000,1.749225,object
7,latitude,151,0.000000,1.749225,float64
8,longitude,151,0.000000,1.749225,float64
9,addressaccuracy,4,0.000000,52.524862,int64

In [9]:
# We want to assign the 2 weather stations's data to the train and test datasets.

# Weather data are measured daily for each station. 
# we use road number 290, a mid point between station 1 & 2 to infer which station the train & test sets data belong to
# the lat of rd 290 is 41.876378
# after which, we input weather info to the train & test data based on their infered station and based on the data of the data point

# higher = station 1
# lower =  station 2


df_full['station'] =[1 if x >41.876378 else 2 for x in df_full['latitude']]

In [10]:
df_full[['station','latitude']].head(100)

    station   latitude
0         1  41.954690
1         1  41.954690
2         1  41.994991
3         1  41.974089
4         1  41.974089
5         1  41.921600
6         1  41.891118
7         2  41.867108
8         2  41.867108
9         1  41.896282
10        1  41.919343
11        1  41.921965
12        1  41.921965
13        2  41.688324
14        2  41.688324
15        2  41.862292
16        2  41.720848
17        2  41.731922
18        2  41.731922
19        1  41.891126
20        1  41.891126
21        1  41.999129
22        1  42.017430
23        1  41.907645
24        2  41.732984
25        1  41.954690
26        1  41.954690
27        1  41.954690
28        1  41.974089
29        1  41.974089
30        1  41.921600
31        1  41.921600
32        1  41.921600
33        1  41.891118
34        2  41.867108
35        2  41.867108
36        2  41.867108
37        1  41.896282
38        1  41.919343
39        1  41.919343
40        1  41.921965
41        2  41.688324
42        2  41.720848
43        2  41.731922
44        2  41.731922
45        2  41.731922
46        1  41.999129
47        1  41.999129
48        1  41.907645
49        2  41.732984
50        1  41.981964
51        1  41.944869
52        1  42.011601
53        1  41.949830
54        1  41.979243
55        1  41.986921
56        2  41.801498
57        1  41.906638
58        2  41.723195
59        2  41.868077
60        2  41.868077
61        2  41.869216
62        2  41.662014
63        2  41.662014
64        2  41.662014
65        1  41.961743
66        1  41.961743
67        1  41.953067
68        1  41.953067
69        1  41.878114
70        1  41.958271
71        1  41.958271
72        1  41.932094
73        1  41.994469
74        1  42.006858
75        1  41.916265
76        1  41.916265
77        2  41.846075
78        1  41.918705
79        2  41.682587
80        2  41.682587
81        2  41.725517
82        1  41.948167
83        1  41.948167
84        1  41.963976
85        1  41.954690
86        1  41.954690
87        1  41.954690
88        1  41.994991
89        1  41.994991
90        1  41.974089
91        1  41.921600
92        1  41.921600
93        1  41.891118
94        1  41.891118
95        2  41.867108
96        1  41.896282
97        1  41.919343
98        2  41.688324
99        2  41.688324

In [11]:
df_full.shape

(126799, 14)

In [12]:
# Check the number of stations in the merged dataset, which should correspond to a total of 126799.

df_full['station'].value_counts()

2    69168
1    57631
Name: station, dtype: int64

In [13]:
# Save the merged dataset

df_full.to_csv('./data/traintest.csv', index=False)